/* @font-face {
    font-family: 'OptimusPrinceps' ;
    src: url(..fonts/OptimusPrinceps.ttf);
}
*/
* {
    background-color: black;
}

.BBBTitle {
    font-family: 'Marcellus SC', serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #AB966F;
   
}

.PrawnIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.PDescription {
    text-align: center;
    font-family: 'Arimo';
    color: #B4B2B0;
}
.margin1{
    margin-bottom: 75px;
}

.PIngredients {
    font-family: 'OptimusPrinceps', serif ;
    text-transform: uppercase;
    text-align: center;
    color: #AB966F;
    font-size: 20px;
}

.List1 {
    text-align: center;
    color:#B4B2B0;
    list-style-position: inside;
    
}

.HDirections1 {
    font-family: 'OptimusPrinceps', serif ;
    text-transform: uppercase;
    text-align: center;
    color: #AB966F;
    font-size: 20px;

}

/* Fonts copy and paste
'Marcellus SC', serif
'Spectral', serif;
'OptimusPrinceps'. serif;